<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-md-7 ">
            <h1>Aguara Lodge</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Quia neque consequatur nam impedit aliquid recusandae 
                minima assumenda nulla
                asperiores blanditiis quis iste, quod exercitationem 
                delectus repudiandae vitae ullam dolores libero?</p>
        </div>
        <div>
       </div>
    </div>
</div>
