<div class="row">

    <div class="exp"><h1>Experiencia Laboral</h1></div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><img src="../../../assets/aguar.PNG"></div>

        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="exp1"><h3>Atencion al cliente en negocio de pesca</h3><p> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias sed quasi maiores dignissimos, 
                obcaecati distinctio. Sit, itaque facilis, magnam laboriosam excepturi ullam, tenetur aut explicabo dolorum repudiandae a libero officiis!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt neque eos tenetur. Sit, quam. 
                Dignissimos doloribus perspiciatis inventore non corporis illo beatae nemo, delectus maxime quam molestiae! Officia, quibusdam at?
            </p>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="fot"><img src="../../../assets/Apicultor.jpg" style="height: 200px;"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="exp2"><h3>Apicultor</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda unde possimus 
                tempora? Eum quia veniam et nisi commodi velit nesciunt, accusantium ducimus quis obcaecati 
                provident iure, aperiam vel excepturi eligendi? Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Eum blanditiis necessitatibus commodi. Deleniti commodi quo iste, blanditiis, voluptatem, dolor doloremque 
                velit qui eius enim quibusdam aperiam eveniet delectus fuga culpa?
            </p>
        </div>
        
</div>

