<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Atencion al cliente en negocio de pesca</h1>-<h3>2 años</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </ul>
        <ul>
            <li><h1>Apicultor</h1> -<h3>2020-actualidad</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </ul>
    </div>
</div>
