.row{
    padding: 20px;
}
div{
    background-color: rgb(99, 203, 230);
    text-align: center;
}
/*etiqueta de nombre*/
#nombre{  
    font-weight: bold;
}
/*estilo de la foto, quiero que quede entre el banner y la pagina*/
@media(min-width:200px) and (max-width:288px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 840px;
        right: center;
    }
}

@media(min-width:289px) and (max-width:319px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 780px;
        right: center;
    }
}

@media(min-width:320px) and (max-width:349px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 35%;
        top: 770px;
        right: center;
    }
}

@media(min-width:350px) and (max-width:389px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 35%;
        top: 760px;
        right: center;
    }
}

@media(min-width:390px) and (max-width:439px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left: 35%;
        top: 750px;
        right: center;
    }
}
@media(min-width:440px) and (max-width:477px){
    #fotodeperfil{
        position:absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 35%;
        top: 670px;
        right: center;
    }
}

@media(min-width: 478px) and (max-width:575px){
    #fotodeperfil{
        position:absolute;
        width: 25%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        left:38%;
        top: 660px;
        right: center;  
        }
    }

    @media(min-width:576px){
        #fotodeperfil{
            position:absolute;
            width: 16%;
            border-radius: 100%;
            box-shadow: 3px 3px 3px black;
            left: 20px;
            top: 730px;
        }
    }