<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Técnico Electromecánico-E.E.T.P. N°461</h1> - <h3>2013-2019</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </ul>
        <ul>
            <li><h1>Ingeniería Industrial-Facultad de Ingeniería Química UNL</h1> - <h3>2020-actualidad</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </ul>
        <ul>
            <li><h1>Full Stack Developer Jr-Argentina Programa 4.0</h1> - <h3>2021-actualidad</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </ul>
    </div>
</div>

