<div class="row">
    <div class="title"><h1>Educación</h1></div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  id="fot1"><img src="../../../assets/industrial.png" style="height: 190px;"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="ed1"><h3>Técnico Electromecánico-E.E.T.P. N°461</h3><br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </div>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"  id="fot2"><img src="../../../assets/logoFIQ_header260color.png" style="height: 120px;"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="ed2"><h3>Ingeniería Industrial-Facultad de Ingeniería Química UNL</h3><br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </div>
        
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="fot3"><img src="../../../assets/APLogo.png" style="height: 120px; background-color: black; border-radius: 3%;"></div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="ed3"><h3>Full Stack Developer Jr-Argentina Programa 4.0</h3> <br><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Distinctio facilis nulla esse molestias eum laborum quod debitis 
                reiciendis adipisci harum quibusdam recusandae r
                epellat aspernatur corrupti illo voluptatibus impedit, optio totam.</p>
        </div>
</div>


        

